Package: wiringPi
Version: 2.46
Section: libraries
Priority: optional
Architecture: arm64
Depends: libc6
Maintainer: Boby Lee <leeboby@aliyun.com>
Description: The wiringPi libraries for the OrangePi, headers and gpio command
  Libraries to allow GPIO access on a Raspberry Pi from C and C++
  and BASIC programs as well as from the command-line
